* {
    margin: 0px;
    padding: 0px;
}
.t1{
   color: antiquewhite;
   font-size: 20px;
}
.tmain{
    font-size: 20px;
    color: black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.word {
    font-size: 1.3rem;
    
}
.word1 a{
    color: black;
    font-size: 1.2rem;
}

.word1 a:hover{
    text-decoration: none;
    color: black;
}
.word1 {
    color: black;
    font-size: 1.2rem;
}
#p1 {

  background: sandybrown;
    height: 60px;
    padding: 15px;
text-decoration: none;
    font-size: 1.3rem;
 }

span {
    color: black;
    background: sandybrown;
}

.root {
    float:right;
  
}

ul.root>li {
    list-style: none;
    float:left;
}

ul.root>li>a {
    padding: 35px;
    position: relative;
    width: max-content;
}

ul.submenu {
    width: 250px;
    min-height: 89px;
    display: none;
    position: absolute;

}

ul.submenu li {
    list-style: none;
    position: relative;
}


ul.submenu li a {
    text-transform: none;
    text-decoration: none;
    color: #fff;
    display: block;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 10px;




}

ul.root>li:hover ul.submenu {
    display: block;
    background-color: sandybrown;
    color: cornsilk;
    transform: ease-in 0.35s;


}

ul.submenu li a:hover {
    background-color: yellow;
    color: darkblue;
    transform: ease-in 0.35s;

}
.root>li>a:hover{
    text-decoration: none;
}
.root>li>a::after {
    content: "";
    height: 2.7px;
    width: 0;
    background:rgb(185, 76, 33);
    position: absolute;
    bottom: 20px;
    left: 1.9rem;
    transition: all 0.5s ease-in-out;

}

.root>li>a:hover::after {
    width: 50%;
    text-decoration: none;


}

#p8 {

    background-color: black;
    height: 90px;
    padding: 1rem;
text-align: center;
}


.input2 {
 height: 90%;
    width: 30%;
    border: tomato double thin;
    border-radius: 0.2rem;
}



#img {

    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 10px;
    font-weight: bold;
}


#p7 {
    border: tomato solid thick;
    padding: 1rem;
    background-color: #ff914d;
text-align: center;
}


h1 {
    font-size: 29px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: black;
    
}
h2{
    font-size: 29px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    color: black;
   
    
}
.headlinemain {
    text-align: center;
    margin: 40px 0px;
}

#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

ul.catering {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

ul.catering li {
    flex-basis: 33%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

ul.catering li img {
    max-width: 100%;
    height: auto;
}

ul.catering li .image-top {
    text-transform: uppercase;
    text-decoration: none;
}
@media screen and (max-width:1148px){
    #p1 li {
          display: none;
        
      }
      
        
}