.headline{
    
    text-align: center;
    background-color: sandybrown;
}

h1 {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #999393;
    display: inline-block;
    color: black;
    font-weight: 600;
}
.info1{

    background-color: bisque;
    font-size: 20px;
}
.info2{
    background-color: bisque;
    font-size: 20px;
}
.info3{
    background-color: bisque;
    font-size: 20px;
    
}
#p7 {
    color: black;
    border: tomato solid thick;
    padding: 1rem;
    background-color: #ff914d;
text-align: center;
}
.image1{
    float: right;
    padding-right: 50px;
    padding-top: 100px;
}
.image2{
    float: right;
    padding-right: 50px;
    padding-top: 30px;
}
.image3{
    float: right;
    padding-top: 60px;
    padding-right: 50px;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.word {
    font-size: 1.3rem;
    
}
.word1 a:hover{
    text-decoration: none;
    color: black;
}
.word1 a{
    color: black;
    font-size: 1.2rem;
}
.word1 {
    color: black;
    font-size: 1.2rem;
}

#p1 {

  background: sandybrown;
    height: 60px;
    padding: 15px;
text-decoration: none;
    font-size: 1.3rem;
  
}

  span {
    color: black;
    background: sandybrown;
}

.root {
    float:right;
    text-decoration: none;
}

ul.root>li {
    list-style: none;
    float:left;
}

ul.root>li>a {
    padding: 35px;
    position: relative;
    width: max-content;
}

ul.submenu {
    width: 250px;
    min-height: 89px;
    display: none;
    position: absolute;
    z-index: 100;

}

ul.submenu li {
    list-style: none;
    position: relative;
}


ul.submenu li a {
    text-transform: none;
    text-decoration: none;
    color: #fff;
    display: block;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 10px;




}

ul.root>li:hover ul.submenu {
    display: block;
    background-color: sandybrown;
    color: cornsilk;
    transform: ease-in 0.35s;

}

ul.submenu li a:hover {
    background-color: yellow;
    color: darkblue;
    transform: ease-in 0.35s;

}
.root>li>a:hover{
    text-decoration: none;
}
.root>li>a::after {
    content: "";
    height: 2.7px;
    width: 0;
    background:rgb(185, 76, 33);
    position: absolute;
    bottom: 20px;
    left: 1.9rem;
    transition: all 0.5s ease-in-out;
  

}

.root>li>a:hover::after {
    width: 50%;
    
   

}
#p8 {

    background-color: black;
    height: 90px;
    padding: 1rem;
text-align: center;

}
#img {

    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 10px;
    font-weight: bold;
}

.input2 {
 height: 90%;
    width: 30%;
    border: tomato double thin;
    border-radius: 0.2rem;
}
@media screen and (max-width:1148px){
    #p1 li {
          display: none;
        
      }
      
        
}