* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#p1 {

    background: sandybrown;
      height: 60px;
      padding: 15px;
  text-decoration: none;
      font-size: 1.3rem;
    
  }
  
    span {
      color: black;
  }
  
  .root {
      float:right;
      text-decoration: none;
  }
  
  ul.root>li {
      list-style: none;
      float:left;
  }
  
  ul.root>li>a {
      padding: 35px;
      position: relative;
      width: max-content;
  }
  
  ul.submenu {
      width: 250px;
      min-height: 89px;
      display: none;
      position: absolute;
      z-index: 100;
  
  }
  
  ul.submenu li {
      list-style: none;
      position: relative;
  }
  
  
  ul.submenu li a {
      text-transform: none;
      text-decoration: none;
      color: #fff;
      display: block;
      border: 1px solid #ccc;
      line-height: 40px;
      text-indent: 10px;
  
  
  
  
  }
  
  ul.root>li:hover ul.submenu {
      display: block;
      background-color: sandybrown;
      color: cornsilk;
      transform: ease-in 0.35s;
  
  }
  
  ul.submenu li a:hover {
      background-color: yellow;
      color: darkblue;
      transform: ease-in 0.35s;
  
  }
  .root>li>a:hover{
      text-decoration: none;
  }
  .root>li>a::after {
      content: "";
      height: 2.7px;
      width: 0;
      background:rgb(185, 76, 33);
      position: absolute;
      bottom: 20px;
      left: 1.9rem;
      transition: all 0.5s ease-in-out;
    
  
  }
  
  .root>li>a:hover::after {
      width: 50%;
  }
  

#img {

    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 10px;
    font-weight: bold;
}



.headline {
text-align: center;
margin: 40px 0px;
}

.headline h3 {
font-size: 80px;
color: red;
padding: 10px 20px;
text-transform: uppercase;
border: solid black 4px;
display: inline-block;
}

#p8 {

    background-color: black;
    height: 90px;
    padding: 1rem;
text-align: center;

}


.input2 {
 height: 90%;
    width: 30%;
    border: tomato double thin;
    border-radius: 0.2rem;
}

.word {
    font-size: 1.3rem;
    
}
.word1 a{
    color: black;
    font-size: 1.2rem;
}
.word1 a{
    text-decoration: none;
}
.word1 {
    color: black;
    font-size: 1.2rem;
}
#img {

    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 10px;
    font-weight: bold;
    z-index: 100;
}

@media screen and (max-width:1148px){
    #p1 li {
          display: none;
        
      }
      
        
}


#p7 {
    border: tomato solid thick;
    padding: 1rem;
    background-color: #ff914d;
    position: relative;
    margin-top: 10px;
    clear:left;
}

#wrapper{
 
    margin-left: 120px;

    }
    
    .product {
    width: 400px;
    padding: 10px;
    float: left;
    }
    
    .productdiv {
    flex-basis: 25%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    
    }
    
    .product  img {
    max-width: 100%;
    height: auto;
    border:tomato solid 2px;
    
    
    }
    
      .product-top {
    overflow: hidden;
    position: relative;
    
    }
    
    .product-thumb:hover img {
    filter: opacity(80%);
    }
    
   .product-thumb {
    display: block;
    
    }
    
   .product-thumb img {
    display: block;
    
    }
    
    .product:hover a.buy {
    bottom: 0px;
    transition: 1s ease-in-out;
    }
    
    .product  .product-top a.buy {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color:#446084;
    color:#fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
    }
    
    .product-info {
    padding: 20px 0px;
    
    
    }
    
    .product-info a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px sandybrown solid;
    }
    
   .product.info a.product-cat {
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 0px;
    
    }
    
     .product-name {
    padding: 3px 0px;
    
    }
    
     .product-price {
    padding: 2px 0px;
    font-weight: 600px;
    
    }

    .cart{
        border: 1px red solid;
        box-shadow: 0 4px 8px 0 rgba(196, 18, 18, 0.2), 0 6px 20px 0 rgba(224, 136, 191, 0.19);
        background-color:rgb(255, 36, 36);
        border-radius: 0.8rem;
        font-weight: 500;
        
        
    }
    .cart span{
        color: black;
    }
    
    .cart:hover{
        filter: opacity(80%);
    
    }

    html span{
        font-size:141%;
      }
      html .submenu{
        font-size:145%;
      }
      html .word1{
        font-size:180%;
      }
      html .word1 a{
        font-size:90%;
      }
      html .word{
        font-size:170%;
      }
      html #p7 h3{
        font-size:250%;
      }
     html  {
    overflow-x: hidden;
    font-size: 70%;
  } 
  html h1{
    font-size: 400%;
  }
  html .buy{
    font-size: 195%;

  }
  html .input2{
    font-size: 150%;
  }
