
<style>
   .form-group input{
       font-size: 150%;
   }
</style>
<div id="p8"> 
    <h1 style="margin-top: 0.5rem; color: coral;">Your Detailed Orders</h1>

</div>


<div class="container" ng-controller="cartControl" >
    <hr>
    <table class="table table-hover" style="font-size: 150%;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th class="number">Price</th>
                <th class="number">Quantity</th>
                <th class="number">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart">
                <td>{{$index+1}}</td>
                <td>{{item.Name}}</td>
                <td class="number">{{item.Price}}</td>
                <td class="number">{{item.qty}}</td>
                <td class="number">{{item.Price * item.qty|currency}}</td>
                <td><input type="button" style="width: 100px;font-size: 100%;" class="btn btn-outline-danger" value="Delete" 
                    ng-click="remove($index)">
            </tr>
            <tr >
                <th colspan="4" style="text-align: right">Total Amount: </td>
                    <td class="number" style="font-weight: bold;">{{total|currency}}</td>
            </tr>
            <tr>
                <th colspan="5" style="text-align: right">
                    <input type="button" class="btn btn-danger" style="width: 100px;font-size: 100%;" value="Remove all"
                        ng-click="removeAll()">
                    <br>
                    <input type="button" class="btn btn-info" style="width: 100px;font-size: 100%" value="Checkout"
                        ng-click="checkout()">
                </th>
            </tr>
        </tbody>
    </table>
    
    <div id="confirm" ng-show="isShow">
        <h3 style="font-size: 400%;">We are here for you !</h3>
        <p style="font-size: 200%;">Please complete and submit the following form.</p>
        <form action="" ng-submit="thank()">
            <div class="form-group">
                <input type="text" name="txtName" required placeholder="Name" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="txtEmail" required placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="txtPhone" required placeholder="Phone" class="form-control">
            </div>
            <div class="form-group">
                <textarea style="font-size: 200%;" name="txtNote" class="form-control" rows="5" placeholder="Comment">
                        </textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success">
            </div>
        </form>
    </div>



</div>