<div>
    <div id="p8"> 
        <input class="input2" type="text" ng-model="info" placeholder="Search....">
    </div>
    <div class="headline">
        <h3>Chocolate Menu</h3><br>
    </div>
    
    <div id="wrapper">
        <div class="product"  ng-repeat="a in menu.chocolate|filter:info">
                <div class="product-item">
                    <div class="product-top">
                        <a href="" ng-click="addCart1($index)" class="product-thumb">
                            <img src="{{a.Img}}" alt="">
                        </a>
                        <a href="" class="buy" ng-click="addCart1($index)">Add to cart</a>
                    </div>
                    <div class="product-info">
                        <a  class="product-cat">
                            {{a.Name}}
                        </a>
                        <a class="product-name">  {{a.Avalable}}</a>
                        <a  class="product-price"> ${{a.Price}}</a>

                    </div>
                </div>

   
            </div>
	
    </div>
</div>    
