


    <div id="p8"> 
        <input class="input2" type="text" ng-model="info" placeholder="Search....">
    </div>
    <div class="headline">
        <h3>Vegetable Juice Menu</h3><br>
    </div>
    
    <div id="wrapper">
        <div class="product" ng-repeat="h in vegetable|filter:info">
                <div class="product-item">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src="{{h.Img}}" alt="">
                        </a>
                        <a href="" class="buy">Add to cart</a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-cat">
                            {{h.Name}}
                        </a>
                        <a href="" class="product-name"> {{h.Avalable}}</a>
                        <a href="" class="product-price"> {{h.Price}}</a>

                    </div>
                </div>

   
            </div>
	
    </div>
</div>    