
<div>
    <div id="p8"> 
        <input class="input2" type="text" ng-model="info" placeholder="Search....">
    </div>
    <div class="headline">
        <h3>Winter Menu</h3><br>
    </div>    
<div id="wrapper">
    <div class="product" ng-repeat="w in winter|filter:info">
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="{{w.Img}}" > 
                    </a>
                    <a href="" class="buy">Add to cart</a>
                </div>
                <div class="product-info">
                    <a  class="product-cat">
                        {{w.Name}}
                    </a>
                    <a href="" class="product-name">{{w.Avalable}}</a>
                    <a href="" class="product-price">{{w.Price}}</a>

                </div>
            </div>


        </div>

</div>
